<main>
    <!--Hero-->
    <div class="container">
        <!--Hero Grid-->
        <div class="hero-grid grid grid-cols-2 gap-24">
            <!--Hero Card-->
            <div class="hero-card-wrapper flex flex-col gap-60">
                <!--Hero Text-->
                <div class="hero-card-text flex flex-col gap-40">
                    <h1 class="h1">Проверь свои знания JavaScript вместе с <span class="text-accent">АйтилогияQuiz</span>!</h1>
                    <p class="text-size-medium line-length-ssm">Мы поможем подготовиться к контрольному заданию или тесту по JavaScript!</p>
                </div>
                <!--Hero Footer-->
                <div class="hero-footer">
                    <a class="left-boxy-button blue" href="#/register" aria-label="Start test" role="button">Начать тест</a>
                </div>
            </div>
            <!--Hero Image-->
            <div class="hero-main-img">
                <img src="./src/assets/img/Main.png" alt="Main image" loading="lazy">
            </div>
        </div>
    </div>
</main>