<main>
    <!--Hero-->
    <div class="container">
        <!--Hero Grid-->
        <div class="hero-grid select grid grid-cols-2">
            <!--Select Card-->
            <div class="select-card-wrapper">
                <div class="select-card-text">
                    <h2 class="h2">Выберите <span class="text-accent">тему теста</span></h2>
                    <p class="text-size-small pt-40">Чтобы начать тест, выберите одну из предложенных ниже тем.</p>
                </div>
                <div class="test-selection pt-60"></div>
            </div>
            <!--Hero Image-->
            <div class="grid-img">
                <img src="./src/assets/img/Choice.png" alt="Select image" loading="lazy">
            </div>
        </div>
    </div>
</main>